<header> 
  <div> <h2>Placement cell</h2></div>
   
    
    <%if(locals.user)
    {%>
        <div class="nav-link"><a href="/student/download-reports">Download Data</a>
          <a href="/users/sign-out">Sign Out</a></div>
         
        <div><p><%= user.name %></p></div>
    <% }
    else
    {%>
    <a href="/sign-up">Sign Up</a>
  <%  }%>

</header>