<link rel="stylesheet" type="text/css" href="/css/form.css">

<div class="form-box">
    <h1>User Sign Up</h1>
<form action ="users/create" method="POST">
        <div class="input-field form-group">
        <i class="fa-solid fa-user"></i> 
    <input type="text" name="name" placeholder="Enter your name.." required><br>
    </div>

    <div class="input-field form-group">
        <i class="fa-solid fa-envelope"></i>
    <input type="email" name="email" placeholder="Enter your email.." required><br>
    </div>
    <div class="input-field form-group">
        <i class="fa-solid fa-lock"></i>
    <input type="password" name="password" placeholder="New Password " required><br>
    </div>
    <div class="input-field form-group">
        <i class="fa-solid fa-lock"></i>
    <input type="password" name="confirm_password" placeholder="Confirm Password " required><br>
    </div>
    <div class="input-field form-group">
    <input type="submit" class=" btn btn-primary" value="Sign Up">
    <div>
        <h5>Already have a account?</h5>
            <a href="/" class="btn btn-success">Sign In</a>
        
      </div>
    
    </div>
    
</form>
</div>