body
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
    line-height: 1.5;
    letter-spacing: 1px;
}
.container
{
     margin:100px  auto;
}


header
{
    display: flex;
    flex-direction: row;
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    color:white;
    padding: 10px 10px;
}

.nav-link
{
    margin: 15px 10px;

}

.nav-link a
{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    font-size: large;
   
}

.nav-link a:hover
{
    color:green;
}

header p
{
    color:whitesmoke;
    margin: 15px 10px;
    font-size: large;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    color:white;
    padding: 10px 10px;
}
footer a
{
    text-decoration: none;
    color: white;
    margin: 15px 15px;
}